In [ ]:
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [36]:
pip install selenium

Requirement already satisfied: selenium in c:\users\sanka\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sanka\anaconda3\lib\site-packages (from selenium) (1.26.10)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sanka\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\sanka\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: outcome in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\sanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\sanka\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\sanka\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sanka\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\sanka\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sanka\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.4)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sanka\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sanka\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
#importing all required libraries

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.naukri.com/")

#finding web elemet for search-job bar and writing on search-job bar 
search_job=driver.find_element_by_class_name('suggestor-input')
search_job.send_keys("Data Analyst")

#finding web elemet for search-location bar and writing on search-location bar 
search_locn=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn.send_keys("Bangalore")

#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

#extracting job_titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")


job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
    

#scraping company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")


company_names=[]
for i in company_tags:
    company_names.append(i.text)
    


#scraping experience required
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")


experience=[]
for i in exp_tags:
    experience.append(i.text)
    
#scraping job Location
locn_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")


location=[]
for i in locn_tags:
    location.append(i.text)
    

    
#converting all the lists into dataframe
len(job_titles),len(company_names),len(experience),len(location)

jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Company']=company_names
jobs['Experience']=experience
jobs['Location']=location

jobs[0:10]

,Job Titles,Company,Experience,Location
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad"
2,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Hiring For Data Analyst,Flipkart,2-5 Yrs,Bangalore/Bengaluru
4,Data Analyst,Wipro,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
5,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
6,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Hudsons bay Company (HBC),3-4 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
9,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru

In [ ]:
Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [10]:
#importing all required libraries

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.naukri.com/")

#finding web elemet for search-job bar and writing on search-job bar 
search_job=driver.find_element_by_class_name('suggestor-input')
search_job.send_keys("Data Scientist")

#finding web elemet for search-location bar and writing on search-location bar 
search_locn=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn.send_keys("Bangalore")

#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

#extracting job_titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")


job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
    

#scraping company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")


company_names=[]
for i in company_tags:
    company_names.append(i.text)
    


#scraping job Location
locn_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")


location=[]
for i in locn_tags:
    location.append(i.text)
    

    
#converting all the lists into dataframe
len(job_titles),len(company_names),len(location)

jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Company']=company_names
jobs['Location']=location

jobs[0:10]

,Job Titles,Company,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
2,Data Scientist,Applied Materials,Bangalore/Bengaluru
3,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru
4,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
5,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
6,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
7,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
8,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"
9,EY GBS - Assistant Director - Data Science (10...,EYGBS,Bangalore/Bengaluru

In [ ]:
Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [10]:
#importing all required libraries
import time
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.naukri.com/")

#finding web elemet for search-job bar and writing on search-job bar 
search_job=driver.find_element_by_class_name('suggestor-input')
search_job.send_keys("Data Scientist")


#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

#Clicking on the salary and location check boxes


time.sleep(5)

salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]')
salary_check.click()
time.sleep(10)

locn_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[3]/label/p')
locn_check.click()
time.sleep(5)

#extracting job_titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")


job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
    

#scraping company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")


company_names=[]
for i in company_tags:
    company_names.append(i.text)
    


#scraping job Location
locn_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")


location=[]
for i in locn_tags:
    location.append(i.text)
    

    
#scraping experience required
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")


experience=[]
for i in exp_tags:
    experience.append(i.text)
    

    
#converting all the lists into dataframe
len(job_titles),len(company_names),len(location), len(experience)

jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Company']=company_names
jobs['Location']=location
jobs['Experience']=experience
jobs[0:10]

,Job Titles,Company,Location,Experience
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
1,Data Scientist - Noida/Bangalore,EXL,"Noida, Bangalore/Bengaluru",5-10 Yrs
2,Senior Associate - Data Science,Black Turtle,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs
3,Data Scientist - Machine learning AI,Teq Analytics,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs
4,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,"Delhi / NCR, Chennai, Bangalore/Bengaluru",2-7 Yrs
5,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,"Delhi / NCR, Chennai, Bangalore/Bengaluru",2-7 Yrs
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
7,Data Scientist - Engine Algorithm,Primo Hiring,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs
8,Data Science Associate,Kreate Energy,Delhi / NCR(Vaishali),2-4 Yrs
9,Data Scientist,Mount Talent Consulting Private Limited,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs

In [ ]:
Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [11]:
#importing all required libraries
import time
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.flipkart.com/")

#Bypassing throught the login details
cross_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cross_btn.click()

#finding web elemet for search bar and writing on search bar 
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys("Sunglass")


#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(5)

#extracting brand name , discount, price and description of the sunglasses
brand_name=[]
description=[]
price=[]
discount=[]


for i in range(3):
    
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

    
    
    

    for i in brand_tags:
        brand_name.append(i.text)
    for i in desc_tags:
        description.append(i.text)
    for i in price_tags:
        price.append(i.text)
    for i in disc_tags:
        discount.append(i.text)


time.sleep(5)

next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()


#converting all the lists into dataframe


info=pd.DataFrame()
info['Brand Name']=brand_name
info['Description']=description
info['Price']=price
info['Discount']=discount
info[0:100]

,Brand Name,Description,Price,Discount
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),₹649,67% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹474,76% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
...,...,...,...,...
95,Roadster,Others Aviator Sunglasses (Free Size),₹649,35% off
96,PIRASO,UV Protection Aviator Sunglasses (54),₹246,84% off
97,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹154,89% off
99,VINCENT CHASE,by Lenskart UV Protection Rectangular Sunglass...,₹749,62% off

In [ ]:
Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage .

In [ ]:
#importing all required libraries
import time
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.flipkart.com/")

#Bypassing throught the login details
cross_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cross_btn.click()

#finding web elemet for search bar and writing on search bar 
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys("Iphone 11")

#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(5)
#clicking on Iphone 11 in flipcart
iphone_11=driver.find_element_by_xpath("//img[@class='_396cs4 _3exPp9']")
iphone_11.click()

time.sleep(10)

#extracting rating star
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")


ratings=[]
for i in rating_tags:
    ratings.append(i)
    
time.sleep(10)

#scraping rating text
text_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")


text=[]
for i in text_tags:
    text.append(i.text)
    

time.sleep(10)   

#scraping review
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")


review=[]
for i in review_tags:
    review.append(i.text)
    
    
    
#converting all the lists into dataframe


df=pd.DataFrame()
df['Star Rating']=ratings
df['Rating Text']=text
df['Review']=review
df

In [ ]:
Q6.Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [ ]:
#importing all required libraries
import time
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.flipkart.com/")

#Bypassing throught the login details
cross_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cross_btn.click()

#finding web elemet for search bar and writing on search bar 
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys("sneakers")


#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(5)

#extracting brand name , discount, price and description of the sunglasses
brand_name=[]
description=[]
price=[]
discount=[]


for i in range(3):
    
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

    
    
    

    for i in brand_tags:
        brand_name.append(i.text)
    for i in desc_tags:
        description.append(i.text)
    for i in price_tags:
        price.append(i.text)
    for i in disc_tags:
        discount.append(i.text)


time.sleep(5)

next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()


#converting all the lists into dataframe


info=pd.DataFrame()
info['Brand Name']=brand_name
info['Description']=description
info['Price']=price
info['Discount']=discount
info[0:100]

In [ ]:
Q7.Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [ ]:
#importing all required libraries
import time
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.myntra.com/shoes")


time.sleep(5)

price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_check.click()
time.sleep(10)

color_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]')
color_check.click()
time.sleep(5)

#extracting brand name, description, price of the shoes
brand=[]
description=[]
price=[]

for i in range(3):

    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    desc_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    price_tags=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
    
    for i in brand_tags:
        brand.append(i.text)
    for i in desc_tags:
        description.append(i.text)
    for i in price_tags:
        price.append(i.text)


time.sleep(5)

next_button = driver.find_element_by_xpath("//li[@class='pagination-next']")
next_button.click()
   
#converting all the lists into dataframe
len(brand),len(description),len(price)

shoes=pd.DataFrame()
shoes['Brand']=brand
shoes['Description']=description
shoes['Price']=price

shoes[0:100]

In [ ]:
Q8.Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
#importing all required libraries
import time
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\sanka\Downloads\Compressed\chromedriver_win32_2\chromedriver.exe')

#connecting to url of our requirement
driver.get("https://www.amazon.in/")

#finding web elemet for search-job bar and writing on search-job bar 
search_bar=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_bar.send_keys("Laptop")


#finding the web element for search button and clicking it
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn.click()



#extracting laptop titles
brand_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")


brand=[]
for i in brand_tags:
    brand.append(i.text)
    

#scraping laptop rating
rating_tags=driver.find_elements_by_xpath("//span[@class='a-declarative']")


rating=[]
for i in rating_tags:
    rating.append(i.text)
    


    
#scraping price
price_tags=driver.find_elements_by_xpath("//span[@class='a-price']")


price=[]
for i in price_tags:
    price.append(i.text)
    

    
#converting all the lists into dataframe

laptops=pd.DataFrame()
laptops['Title']=brand
laptops['Rating']=rating
laptops['Price']=price

laptops[0:10]

In [ ]:
Q9.Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.