In [ ]:
1. Write a python program to display all the header tags from wikipedia.org.

In [27]:
from bs4 import BeautifulSoup
import requests

def enter_url(url):
   link=requests.get("https://en.wikipedia.org/wiki/Main_Page", url)
  
   soup=BeautifulSoup(link.content) 
   
   titles = soup.find_all(['h1','h2','h3','h4'])
   
   print('all the header tags :', *titles, sep='\n\n')
    
enter_url("url")

all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [ ]:
2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [8]:
import pandas as pd


page = requests.get("https://www.imdb.com/list/ls091520106/?sort=list_order,asc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp")
soup = BeautifulSoup(page.content, "html.parser")
scraped_movies = soup.find_all('div', class_="col-title")
movies = []
for movie in scraped_movies:
 movie = movie.get_text().replace('\n', "")
 
 movie = movie.strip(" ")
 
 movies.append(movie)



    
scraped_ratings = soup.find_all('div', class_="col-imdb-rating")

ratings = []
for rating in scraped_ratings:
 rating = rating.get_text().replace('\n', '')
  
 ratings.append(rating)
    
    
df=pd.DataFrame({'Titles': movies, 'Ratings': ratings})
df

,Titles,Ratings
0,1.The Shawshank Redemption(1994),9.3 ...
1,2.The Godfather(1972),9.2 ...
2,3.The Godfather Part II(1974),9 ...
3,4.The Dark Knight(2008),9 ...
4,5.12 Angry Men(1957),9 ...
...,...,...
95,96.North by Northwest(1959),8.3 ...
96,97.A Clockwork Orange(1971),8.3 ...
97,98.Snatch(2000),8.3 ...
98,99.Le fabuleux destin d'Amélie Poulain(2001),8.3 ...
99,100.The Kid(1921),8.3 ...

In [ ]:
3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [117]:
import pandas as pd


page = requests.get("https://www.imdb.com/list/ls079077479/?sort=list_order,asc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp")
soup = BeautifulSoup(page.content, "html.parser")
scraped_movies = soup.find_all('div', class_="col-title")
movies = []
for movie in scraped_movies:
 movie = movie.get_text().replace('\n', "")
 
 movie = movie.strip(" ")
 
 movies.append(movie)



    
scraped_ratings = soup.find_all('div', class_="col-imdb-rating")

ratings = []
for rating in scraped_ratings:
 rating = rating.get_text().replace('\n', '')
  
 ratings.append(rating)
    
    
df=pd.DataFrame({'Titles': movies, 'Ratings': ratings})
df

,Titles,Ratings
0,1.PK(2014),8.1 ...
1,2.Bãhubali: The Beginning(2015),8 ...
2,3.Vaaranam Aayiram(2008),8.2 ...
3,4.Bajrangi Bhaijaan(2015),8.1 ...
4,5.Chennai Express(2013),6 ...
...,...,...
95,96.Damarukam(2012),5.3 ...
96,97.Kaaki Sattai(2015),5.7 ...
97,98.Anwar(2010),6.3 ...
98,99.Aagadu(2014),5.3 ...
99,100.Maan Karate(2014),5 ...

In [ ]:
4. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [42]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
soup = BeautifulSoup(page.content, "html.parser")
scraped_names = soup.find_all(['h3'])
names = []
for name in scraped_names:
 name = name.get_text().replace('\n', "")
 
 name = name.strip(" ")
 
 names.append(name)



    
scraped_terms = soup.find_all('p')

terms = []
for term in scraped_terms:
  term.append(rating)

    
df=pd.DataFrame({'Names': names, })
df

                                          Names
0             Shri Pranab Mukherjee (1935-2020)
1   Smt Pratibha Devisingh Patil (birth - 1934)
2            DR. A.P.J. Abdul Kalam (1931-2015)
3            Shri K. R. Narayanan (1920 - 2005)
4           Dr Shankar Dayal Sharma (1918-1999)
5               Shri R Venkataraman (1910-2009)
6                  Giani Zail Singh (1916-1994)
7         Shri Neelam Sanjiva Reddy (1913-1996)
8          Dr. Fakhruddin Ali Ahmed (1905-1977)
9      Shri Varahagiri Venkata Giri (1894-1980)
10                 Dr. Zakir Husain (1897-1969)
11     Dr. Sarvepalli Radhakrishnan (1888-1975)
12              Dr. Rajendra Prasad (1884-1963)

In [ ]:
5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [49]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

soup = BeautifulSoup(page.content)

teams = soup.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = []
for i in soup.find_all("td",class_='rankings-block__banner--matches'): 
    matches.append(i.text)
points = [] 
for i in soup.find_all("td",class_='rankings-block__banner--matches'): 
    matches.append(i.text)
ratings = [] 
for i in soup.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    ratings.append(i.text.replace("\n",""))

listn = [] 
for i in soup.find_all("td",class_='table-body__cell u-center-text'):
    listn.append(i.text)


for i in range(0,len(listn)-1,2):
    matches.append(listn[i]) 
    points.append(listn[i+1]) 
for i in soup.find_all("td",class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)
    

df=pd.DataFrame({'Team_name':team_name[:10],'Matches': matches[:10],'Points': points[:10], 'Ratings': ratings[:10]})
df

,Team_name,Matches,Points,Ratings
0,New Zealand,12,"2,756",125 ...
1,England,12,"2,005",125
2,Pakistan,22,"2,304",106
3,India,19,"2,325",105
4,Australia,22,"1,872",101
5,South Africa,23,"2,275",99
6,Bangladesh,19,"2,658",95
7,Sri Lanka,24,"2,306",92
8,West Indies,29,"1,238",72
9,Afghanistan,32,"1,083",69

In [ ]:
b) Top 10 ODI Batsmen along with the records of their team and rating.

In [52]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

soup = BeautifulSoup(page.content)
players = [] 
for i in soup.find_all("div",class_='rankings-block__banner--name-large'): 
    players.append(i.text)
team_name = [] 
for i in soup.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
rating = [] 

for i in soup.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)

for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)


df=pd.DataFrame({'Player':players[:10],'Team':team_name[:10],'Rating': rating[:10]})
df

                  Player                     Team Rating
0             Babar Azam  PAK                        892
1            Imam-ul-Haq                      PAK    815
2            Virat Kohli                      IND    811
3           Rohit Sharma                      IND    791
4        Quinton de Kock                       SA    789
5            Ross Taylor                       NZ    775
6  Rassie van der Dussen                       SA    769
7         Jonny Bairstow                      ENG    752
8           David Warner                      AUS    737
9              Shai Hope                       WI    718

In [ ]:
c) Top 10 ODI bowlers along with the records of their team and rating.

In [53]:
page= requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")


soup= BeautifulSoup(page.content)

players = [] 

for i in soup.find_all("div",class_='rankings-block__banner--name-large'): 
    players.append(i.text)
team_name = []  
for i in soup.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))

rating = [] 
for i in soup.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)


for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)

df=pd.DataFrame({'Player':players[:10],'Team':team_name[:10],'Rating':rating[:10]})
df

             Player                    Team Rating
0       Trent Boult  NZ                        726
1        Matt Henry                      NZ    683
2    Shaheen Afridi                     PAK    681
3      Chris Woakes                     ENG    680
4    Jasprit Bumrah                     IND    679
5    Josh Hazlewood                     AUS    679
6  Mujeeb Ur Rahman                     AFG    676
7      Mehedi Hasan                     BAN    661
8     Mohammad Nabi                     AFG    657
9   Shakib Al Hasan                     BAN    657

In [ ]:
6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [54]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

soup = BeautifulSoup(page.content)

womens_team = soup.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = [] 
for i in soup.find_all("td",class_='rankings-block__banner--matches'): 
    womens_matches.append(i.text)
womens_points = []
for i in soup.find_all("td",class_='rankings-block__banner--matches'): 
    womens_matches.append(i.text)
womens_ratings = [] 
for i in soup.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    womens_ratings.append(i.text.replace("\n",""))
womens_listn = [] 
for i in soup.find_all("td",class_='table-body__cell u-center-text'):
    womens_listn.append(i.text)




for i in range(0,len(womens_listn)-1,2):
    womens_matches.append(womens_listn[i]) 
    womens_points.append(womens_listn[i+1])
for i in soup.find_all("td",class_='table-body__cell u-text-right rating'):
    womens_ratings.append(i.text)

df=pd.DataFrame({'Team_name':womens_team_name[:10],'Matches':womens_matches[:10],'Points':womens_points[:10],'Ratings':womens_ratings[:10]})
df

,Team_name,Matches,Points,Ratings
0,Australia,29,"3,949",167 ...
1,South Africa,29,"3,531",123
2,England,32,"2,889",118
3,India,30,"3,019",100
4,New Zealand,29,"2,768",97
5,West Indies,31,930,92
6,Bangladesh,30,"1,962",78
7,Pakistan,12,384,65
8,Sri Lanka,30,351,48
9,Ireland,8,0,44

In [ ]:
b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [55]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

soup = BeautifulSoup(page.content)
players = [] 

for i in soup.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
    
team_name = [] 
for i in soup.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
rating = [] 
for i in soup.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)



for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)

df=pd.DataFrame({'Player':players[:10],'Team':team_name[:10],'Rating':rating[:10]})
df

              Player                     Team Rating
0       Alyssa Healy  AUS                        785
1     Natalie Sciver                      ENG    750
2        Beth Mooney                      AUS    748
3    Laura Wolvaardt                       SA    713
4        Meg Lanning                      AUS    710
5     Rachael Haynes                      AUS    701
6  Amy Satterthwaite                       NZ    681
7    Smriti Mandhana                      IND    669
8     Tammy Beaumont                      ENG    659
9       Ellyse Perry                      AUS    642

In [ ]:
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [57]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

soup = BeautifulSoup(page.content)

players = [] 
for i in soup.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
team_name = []   
for i in soup.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
rating = [] 
for i in soup.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)




for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

df=pd.DataFrame({'Player':players[:10],'Team':team_name[:10],'Rating':rating[:10]})
df

             Player                     Team Rating
0    Natalie Sciver  ENG                        393
1      Ellyse Perry                      AUS    374
2   Hayley Matthews                       WI    338
3    Marizanne Kapp                       SA    338
4       Amelia Kerr                       NZ    335
5  Ashleigh Gardner                      AUS    269
6     Deepti Sharma                      IND    249
7     Jess Jonassen                      AUS    245
8         Sune Luus                       SA    223
9   Katherine Brunt                      ENG    221

In [ ]:
7.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [60]:
page = requests.get("https://www.cnbc.com/world/?region=world")
soup = BeautifulSoup(page.content)

time = []

for i in soup.find_all("div",class_="LatestNews-container"):
     time.append(i.find("time").text)     
headline = []
for i in soup.find_all("div",class_="LatestNews-container"):
     headline.append(i.find("a",class_="LatestNews-headline").text)  
newsLink = []
for i in soup.find_all("div",class_="LatestNews-container"):
     newsLink.append(i.find("a",class_="LatestNews-headline").get("href"))  
        

data = list(zip(headline,time,newsLink))                                          
df = pd.DataFrame(data,columns=["Headline","Time","News Link"])   
df

,Headline,Time,News Link
0,"Natural gas drops 10%, on track for worst mont...",5 Min Ago,https://www.cnbc.com/2022/06/30/natural-gas-dr...
1,The housing shortage is starting to ease after...,7 Min Ago,https://www.cnbc.com/2022/06/30/housing-shorta...
2,FTX closes in on a deal to buy embattled crypt...,12 Min Ago,https://www.cnbc.com/2022/06/30/ftx-closes-in-...
3,Santoli: The S&P 500’s first-half slump may no...,25 Min Ago,https://www.cnbc.com/2022/06/30/santoli-the-sp...
4,These are analysts' favorite Dow stocks for th...,32 Min Ago,https://www.cnbc.com/2022/06/30/these-are-anal...
5,Apple opens up third-party app payments in Kor...,33 Min Ago,https://www.cnbc.com/2022/06/30/apple-opens-up...
6,"Stocks making the biggest moves midday: RH, Ca...",46 Min Ago,https://www.cnbc.com/2022/06/30/stocks-making-...
7,"Captain Minnie and a $5,000 Star Wars drink: D...",58 Min Ago,https://www.cnbc.com/2022/06/30/5000-star-wars...
8,Supreme Court to weigh if state legislatures g...,1 Hour Ago,https://www.cnbc.com/2022/06/30/supreme-court-...
9,FBI names 'Cryptoqueen' to ten 'Most Wanted Fu...,1 Hour Ago,https://www.cnbc.com/2022/06/30/fbi-adds-crypt...
10,Comeback kids: Some S&P 500 stocks are Wall St...,2 Hours Ago,https://www.cnbc.com/2022/06/30/comeback-kids-...
11,Why blood makes up over 2.5% of all U.S. exports,2 Hours Ago,https://www.cnbc.com/2022/06/30/why-blood-make...
12,FDA backs changing Covid booster shots to targ...,2 Hours Ago,https://www.cnbc.com/2022/06/30/fda-backs-chan...
13,Ketanji Brown Jackson sworn in as Supreme Cou...,2 Hours Ago,https://www.cnbc.com/2022/06/30/supreme-court-...
14,We're using cash raised this week to buy more ...,2 Hours Ago,https://www.cnbc.com/2022/06/30/were-using-cas...
15,"Here's one favorite tech stock to buy, accordi...",2 Hours Ago,https://www.cnbc.com/2022/06/30/new-cnbc-surve...
16,Top 10 companies employees don't want to leave,3 Hours Ago,https://www.cnbc.com/2022/06/30/top-10-compani...
17,A little more than half of investors see S&P a...,3 Hours Ago,https://www.cnbc.com/2022/06/30/investors-see-...
18,Russia's Gazprom cancels dividend for the firs...,3 Hours Ago,https://www.cnbc.com/2022/06/30/russias-gazpro...
19,"GOP megadonors turn on Trump, look to DeSantis...",4 Hours Ago,https://www.cnbc.com/2022/06/30/gop-megadonors...
20,Supreme Court limits EPA's authority to set cl...,4 Hours Ago,https://www.cnbc.com/2022/06/30/-supreme-court...
21,Bitcoin on track for its worst quarter in more...,4 Hours Ago,https://www.cnbc.com/2022/06/30/bitcoin-btc-on...
22,What it's like working for an abortion provide...,4 Hours Ago,https://www.cnbc.com/2022/06/30/what-its-like-...
23,Bed Bath & Beyond names new chief accounting o...,4 Hours Ago,https://www.cnbc.com/2022/06/30/bed-bath-beyon...
24,Only 1% get a perfect score on this Social Sec...,4 Hours Ago,https://www.cnbc.com/2022/06/30/most-people-fa...
25,Biden calls on Congress to ease Senate rules t...,4 Hours Ago,https://www.cnbc.com/2022/06/30/biden-calls-on...
26,Nikola still short of shareholder support to i...,4 Hours Ago,https://www.cnbc.com/2022/06/30/nikola-shareho...
27,The worst first half for stocks since 1970? It...,4 Hours Ago,https://www.cnbc.com/2022/06/30/the-worst-firs...
28,3 way to stand out in a new job and impress yo...,4 Hours Ago,https://www.cnbc.com/2022/06/30/ibm-hr-chief-h...
29,4 great ways to use your mental health days th...,5 Hours Ago,https://www.cnbc.com/2022/06/30/4-great-ways-t...

In [ ]:
8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [70]:
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

soup = BeautifulSoup(page.content)

title = []    
for i in soup.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
author = []                      
for i in soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)
date = []
for i in soup.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)
link = []    
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    link.append(i.get("href"))


data = list(zip(title,author,date,link))                                          
df = pd.DataFrame(data,columns=["Paper Title","Authors","Published On","Paper URL"])    
df

,Paper Title,Authors,Published On,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [ ]:
9. Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [71]:

import pandas as pd
from bs4 import BeautifulSoup
import requests


page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")

soup=BeautifulSoup(page.content)

name=[]
for i in soup.find_all("div", class_="restnt-info cursor"):
    name.append(i.text)
location=[]
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    location.append(i.text)

price = []
cuisine = []
for i in soup.find_all("span", class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
    cuisine.append(i.text.split('|')[1])

rating=[]
for i in soup.find_all("div", class_="restnt-rating rating-3"):
    rating.append(i.text)
for i in soup.find_all("div", class_="restnt-rating rating-4"):
    rating.append(i.text)

images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i['data-src'])

    

df=pd.DataFrame({'Restaurant Name':name,'Location':location,'Price':price,'Cuisine':cuisine,'Rating':rating ,'IMAGES':images })

df

,Restaurant Name,Location,Price,Cuisine,Rating,IMAGES
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)","North Indian, Chinese",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,400 for 2 (approx)","North Indian, Asian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)","Chinese, North Indian",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",North Indian,3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",North Indian,3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad","₹ 2,400 for 2 (approx)","North Indian, Italian",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad",₹ 800 for 2 (approx),North Indian,3.6,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad","₹ 1,500 for 2 (approx)","North Indian, Mughlai, Desserts, Beverages",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...","₹ 3,400 for 2 (approx)","European, Italian, Asian, Continental",4,https://im1.dineout.co.in/images/uploads/resta...

In [ ]:
Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [73]:
page = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")


soup=BeautifulSoup(page.content)







rank = []
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)
publication = []
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)
    
h5Index = []
for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5Index.append(i.text)
h5Median = []     
for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5Median.append(i.text)
             

data = list(zip(rank,publication,h5Index,h5Median))
df = pd.DataFrame(data,columns=["Rank","Publication","h5 Index","h5 Median"])
df.head()

  Rank                                        Publication h5 Index h5 Median
0   1.                                             Nature      444       667
1   2.                The New England Journal of Medicine      432       780
2   3.                                            Science      401       614
3   4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4   5.                                         The Lancet      354       635